@use "vars";
/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    if    = inline-flex
    ig    = inline-grid
    f    = flex
    g    = grid

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

// NOTE: removed `df, dg, dig, and dif` inlieu of their explicit names — no reason to have duplicates
@mixin displays($ext) {
  .dn#{$ext} { display: none; }
  .di#{$ext} { display: inline; }
  .db#{$ext} { display: block; }
  .dc#{$ext} { display: contents; }
  .dtc#{$ext} { display: table-cell; }
  .dib#{$ext} { display: inline-block; }
  .flex#{$ext} { display: flex; }
  .inline-flex#{$ext} { display: inline-flex; }
  .grid#{$ext} { display: grid; }
  .inline-grid#{$ext} { display: inline-grid; }
}

@include map-sizes using ($ext) {
  @include displays($ext);
}
