@use "vars";
/*

  FLEXBOX

  Media Query Extensions:
   -s = small
   -m = medium
   -l = large

*/

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
 @mixin flex-things($ext) {
  .flex-auto#{$ext} {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none#{$ext} { flex: none; }
  .flex-start#{$ext} {
    display: flex;
    align-items: flex-start;
  }
  .flex-items#{$ext} {
    display: flex;
    align-items: center;
  }
  .flex-center#{$ext} {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-between#{$ext} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* grow-shrink */
  @for $x from 0 through 3 {
    .flex-grow-#{$x}#{$ext} { flex-grow: $x; }
    .flex-shrink-#{$x}#{$ext} { flex-shrink: $x; }
  }

  /* wraps */
  .flex-wrap#{$ext}   { flex-wrap: wrap; }
  .flex-nowrap#{$ext}   { flex-wrap: nowrap; }
  .flex-wrap-reverse#{$ext}   { flex-wrap: wrap-reverse; }
  /* directions */
  .flex-column#{$ext}  { flex-direction: column; }
  .flex-row#{$ext}     { flex-direction: row; }
  .flex-column-reverse#{$ext}  { flex-direction: column-reverse; }
  .flex-row-reverse#{$ext}     { flex-direction: row-reverse; }
}

@include map-sizes using ($ext) {
  @include flex-things($ext);
}
