@use "vars";
/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/
@mixin letter-spacing($ext) {
  $spacings: (
    0: -.05em,
    1:  .05em,
    2:  .1em,
    3:  .15em,
    4:  .2em
  );

  @each $i, $spacing in $spacings {
    .ls#{$i}#{$ext} {
      letter-spacing: $spacing;
    }
  }
}

@include map-sizes using ($ext) {
  @include letter-spacing($ext);
}
