/*

   WIDTH & HEIGHT

   Modifiers
     -10  = literal value 10%
     -25  = literal value 25%
     -33  = literal value 33%
     -50  = literal value 50%
     -66  = literal value 66%
     -75  = literal value 75%
     -100 = literal value 100%
     -auto = string value auto

   Media Query Extensions:
     -m = medium
     -l = large

*/

@use "vars";

.mw1 { max-width: 1rem; }
.mw2 { max-width: 2rem; }
.mw3 { max-width: 4rem; }
.mw4 { max-width: 8rem; }
.mw5 { max-width: 16rem; }
.mw6 { max-width: 32rem; }
.mw7 { max-width: 48rem; }
.mw8 { max-width: 64rem; }
.mw9 { max-width: 96rem; }

@mixin expand-width-height($ext) {
  @each $letter, $direction in ("w": "width", "h": "height") {
    @each $ltype, $ptype in ("": "", "min": "min-", "max": "max-") {
      @each $size in (10, 15, 20, 25, 33, 50, 66, 75, 100) {
        .#{$letter}#{$ltype}-#{$size}#{$ext} { #{$ptype}#{$direction}: #{$size}#{"%"}; }
        .v#{$letter}#{$ltype}-#{$size}#{$ext} { #{$ptype}#{$direction}: #{$size}v#{$letter}; }
      }
      $x: 1;
      @each $n in $fibonacci {
        $size: $n * 1rem;
        .#{$letter}#{$ltype}#{$x}#{$ext} {
          #{$ptype}#{$direction}: $size;
        }
        $x: $x + 1;
      }
    }
    .#{$letter}-auto#{$ext} { #{$direction}: auto; }
    .#{$letter}min-none#{$ext} { min-#{$direction}: none; }
    .#{$letter}max-none#{$ext} { max-#{$direction}: none; }
    .#{$letter}max-content#{$ext} { #{$direction}: max-content; }
    .#{$letter}-fit#{$ext} { #{$direction}: fit-content; }
  }
}

@include expand-width-height("");
@media #{$media-breakpoint-small} {
  @include expand-width-height("-s");
}
@media #{$media-breakpoint-medium} {
  @include expand-width-height("-m");
}
@media #{$media-breakpoint-large} {
  @include expand-width-height("-l");
}
